/* GLOBAL */
.at-bg-green{
    background-color: rgb(26, 188, 156) ;
}

.at-padding-80{
    padding: 80px 0;
}

.at-padding-30{
    padding: 30px 0;
}


.at-margin-bottom-20{
    margin-bottom: 20px;
}

.at-wrapper-60{
    width: 60%;
    margin: 0 auto;
}

.color-white{
    color: white;
}

.glyphicon-star{
    font-size: 30px;
}

/* HEADER */
/* TOP */
.at-header-top{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    height: 80px;
    background-color: rgb(44, 62, 80);
}

/* DX */
.at-header-top h3{
    font-weight: 900;
}

/* SX */

.at-header-top ul{
    height: 80px;
    line-height: 80px;
    text-align: middle;
}

.at-header-top ul li{
    display: inline;
    list-style: none;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
}

.box-hamburger{
    width: 20px;
    height: 25px;
    border: 2px solid white;
}

.box-hamburger .glyphicon-menu-hamburger{
    color: white;
}



/* JUMBOTRON */

.at-header-bottom{
    margin-top: 80px;
    text-align: center;
}

.at-jumbotron{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.at-header-bottom .img{
    display: inline-block;
    width: 30%;
    
}

.at-header-bottom .img img{
    width: 100%;
}

.at-header-bottom h1{
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.at-header-bottom .box-line{
    display: inline-block;
    border-bottom: 2px solid white;
    height: 15px;
    
}

.at-header-bottom .box-star{
    display: inline-block;
    
}

.at-header-bottom .box-star .glyphicon-star{
    color: white
}

.at-header-bottom ul{
    margin-top: 30px;
}
.at-header-bottom ul li{
    display: inline;
    list-style: none;
    color: white;
    padding-right: 5px;
    text-transform: uppercase;
    font-weight: 900;
}

.at-header-bottom ul li p{
    display: inline-block;
}





/* MAIN */

/* PORTFOLIO */
#portfolio h2,
#about h2,
#contact h2{
    text-transform: uppercase;
    font-size: 40px;
}
#portfolio .at-box{
    width: 100%;
    height: 300px;
    
}

#portfolio .at-box img{
    width: 100%;
    border-radius: 10px;
}

/* ABOUT */

#about .at-wrapper-60 p,
#about h2,
#about .glyphicon-star,
#about .glyphicon-save{
    color: white;
}

#about .at-wrapper-60 p{
    font-size: 15px;
}

#about button{
    color:white;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

#about button .at-btn-cont{
    width: 100%;
    padding: 7px;
}

/* CONTACT */

#contact .at-form-control-1{
    border: none;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
    margin-bottom: 10px;
}

#contact .at-form-control-2{
    border: none;
    box-shadow: none;
}




/* FOOTER */
/* TOP */
.at-footer-top{
    background-color: rgb(58, 84, 109);
}

.at-footer-top h4{
    color: white;
    text-transform: uppercase;
}



/* BOTTOM */
.at-footer-bottom{
    background-color: rgb(44, 62, 80);
}


/* ESERCIZI */


